.DS_Store
.env
.env*
configured

.cache/
docs/
emscripten/
node_modules/

packages/**/*.so
packages/**/*.dat
packages/**/*.map
packages/**/*.log
packages/**/*.BAK
packages/**/*.wasm

packages/php-wasm/mapped
packages/php-cli-wasm/mapped
packages/php-cgi-wasm/mapped

demo-web/public/
demo-web/build/


packages/**/index.html
packages/*.tar.gz
packages/**/*.generated.mjs

*.gz
*.br
