docs/* -diff
demo-web/public/* -diff
patch/*.patch whitespace=-blank-at-eol
packages/php-sdl-wasm/*.patch whitespace=-blank-at-eol,-space-before-tab
packages/php-sdl-wasm/patches/*.patch whitespace=-blank-at-eol,-space-before-tab
