.dbg-preview {
	display: flex;
}

.dbg-preview:not([data-iframed="1"]) {
	width: calc(100% - 1rem);
	height: calc(100dvh - 1rem);
}

.dbg-preview .console {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: black;
	color: white;
	flex: 1;
}

.dbg-preview .console-frame {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	padding: 1rem;

}

.dbg-preview .console .scroll-to-bottom {
	z-index: 100;
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	width: 2rem;
	height: 2rem;
	background-color: #888;
	color: #000;
	text-align: center;
	line-height: 2.125rem;
	overflow: hidden;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
}

.dbg-preview .console .console-output {
	white-space: pre-wrap;
}

.dbg-preview .console .console-input span {
	user-select: none;
	-webkit-user-select: none;
}

.dbg-preview .console .console-output .line[data-type="stderr"] {
	color: #888;
}

.dbg-preview .console .console-output .line[data-type="stdin"] {
	color: #FF0;
}

.dbg-preview .console-output :not(.line[data-type="stdin"])  + .line[data-type="stdin"],
.dbg-preview .console-output :not(.line[data-type="stdout"]) + .line[data-type="stdout"],
.dbg-preview .console-output :not(.line[data-type="stderr"]) + .line[data-type="stderr"] {
	margin-top: 0.5rem;
}

.dbg-preview .console .console-input {
	display: flex;
	align-items: center;
	border-top: 1px solid #999;
	margin-top: 1rem;
	transition: filter 0.5s ease-in-out;
}

.dbg-preview .console .console-input:not([data-ready="true"]) {
	/* display: none; */
	filter: saturate(0) opacity(0.25);

}

.dbg-preview .console .console-input:not([data-ready="true"]) span {
	font-style: italic;
}

.dbg-preview .console .console-input input {
	flex: 1;
	min-height: 100%;
	box-sizing: border-box;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	font: inherit;
	color: inherit;
	background-color: inherit;
	border: 0;
	cursor: text;
}

.dbg-preview .console .console-input span {
	color: #FF0;
}

.dbg-preview .console .console-input button {
	border: 0;
	margin: 0;
	padding: 1rem;
	font-weight: bold;
	background-color: #888;
}

.dbg-preview .console .console-input button:active {
	filter: brightness(2);
}

.dbg-preview .warning {
	filter: opacity(0.75) saturate(0.75);
	color: #CCC;
}

.dbg-preview .status > div {
	padding-left: 1rem;
	padding-right: 1rem;
}

.dbg-preview .status > div > span:empty {
	display: none;
}

.dbg-preview .status > div > span.line:before {
	content: ':';
}