name: Build Step

on:
  workflow_call:
    inputs:
      phpVersion:
        required: true
        type: string
      libType:
        required: true
        type: string

jobs:
  build:
    name: Build PHP ${{ inputs.phpVersion }} w/${{ inputs.libType }} libs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Import configuration
        run: |
          cp -p .github/.env_${{ inputs.phpVersion }}.${{ inputs.libType }}.ci .env
          touch -d '1970-01-01 00:00:00 UTC' .env

      - name: Disable man-db auto-update
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          pattern: php-dependencies-*
          merge-multiple: true
          path: ./

      - name: Extract Artifact
        run: |
          for TAR in php-dependencies-*.tar.gz; do
            tar -xzf ${TAR}
          done;

      - name: Apply executable cache
        run: |
          ls ./.cache/executables-* | while read -r CACHE; do
            cat ${CACHE} | xargs -I{} chmod +x {}
          done

      - name: Install NPM packages
        run: npm ci

      - name: Install deps
        run: sudo apt update && sudo apt install coreutils docker-compose -y

      - name: Cache Docker image
        id: cache-docker-image
        uses: actions/cache@v3
        with:
          path: /tmp/builder-image.tar
          key: ${{ runner.os }}-docker-${{ hashFiles('emscripten-builder.dockerfile') }}

      - name: Load builder image if cached
        if: steps.cache-docker-image.outputs.cache-hit == 'true'
        run: docker load -i /tmp/builder-image.tar && rm -rf /tmp/builder-image.tar

      - name: Create builder image (if not cached)
        if: steps.cache-docker-image.outputs.cache-hit != 'true'
        run: |
          time make image
          docker save -o /tmp/builder-image.tar seanmorris/php-emscripten-builder:latest

      - name: Spin up docker-network
        run: docker network create phpwasm_default

      - name: Create time reference file
        run: touch /tmp/time-ref

      - name: Build demo-node
        run: npm install --prefix demo-node

      - name: Build PHP For Node
        run: time make node-mjs

      - name: Build PHP for Web & PHP-CGI for Worker
        run: time make web-mjs worker-cgi-mjs

      - name: Build php${{ inputs.phpVersion }}-sdl.so
        run: time make packages/sdl/php${{ inputs.phpVersion }}-sdl.so packages/sdl/libGL.so PHP_VERSION=${{ inputs.phpVersion }}

      - name: Build PHP (sdl) for Web
        run: time make web-mjs WITH_SDL=1

      - name: Build PHP DBG & CLI Previews
        run: time make web-dbg-mjs web-cli-mjs

      - name: Take Snapshot
        run: |
          sudo chown -R ${USER}:${USER} .
          sudo chmod -R u+rwX,go+rX .
          tar --exclude=.git \
            --format=posix \
            --exclude='php-uncompressed-${{ inputs.phpVersion }}-${{ inputs.libType }}.tar.gz' \
            --ignore-failed-read \
            --warning=no-file-changed \
            -czf 'php-uncompressed-${{ inputs.phpVersion }}-${{ inputs.libType }}.tar.gz' \
              third_party \
              packages \
              .cache \
              lib

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: php-uncompressed-${{ inputs.phpVersion }}-${{ inputs.libType }}
          path: php-uncompressed-${{ inputs.phpVersion }}-${{ inputs.libType }}.tar.gz
          compression-level: 0

      - name: Take Failure Snapshot
        if: ${{ failure() }}
        run: |
          sudo chown -R ${USER}:${USER} .
          sudo chmod -R u+rwX,go+rX .
          tar --exclude=.git --exclude='snapshot.tar.gz' --ignore-failed-read --warning=no-file-changed -czf snapshot.tar.gz .

      - name: Upload Failure Artifact
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: failure-snapshot-${{ inputs.phpVersion }}-${{ inputs.libType }}
          path: snapshot.tar.gz
          compression-level: 0
