name: Test Browser

on:
  workflow_call:
    inputs:
      phpVersion:
        required: true
        type: string
      libType:
        required: true
        type: string
      artifactPattern:
        required: true
        type: string

jobs:
  test:
    name: Test Browser ${{ inputs.phpVersion }} w/${{ inputs.libType }} libs
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Disable man-db auto-update
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate
          sudo dpkg-reconfigure man-db

      - name: Import configuration
        run: |
          cp -p .github/.env_${{ inputs.phpVersion }}.${{ inputs.libType }}.ci .env
          touch -d '1970-01-01 00:00:00 UTC' .env

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ inputs.artifactPattern }}
          merge-multiple: true
          path: ./

      - name: Extract Artifact
        run: |
          for TAR in ${{ inputs.artifactPattern }}.tar.gz; do
            tar -xzf ${TAR}
          done;

      - name: Install NPM packages
        run: npm ci

      - name: Install Global NPM packages
        run: npm install -g deno cv3-test netcat

      - name: Install docker-compose
        run: sudo apt update && sudo apt install docker-compose -y

      - name: Install Chrome's APT key
        run: wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -

      - name: Install Chrome's APT source
        run: sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'

      - name: Install Chrome
        run: sudo apt-get update && sudo apt install -y software-properties-common google-chrome-stable

      - name: Ensure the demo uses local packages
        run: cd demo-web; ./switch-packages.sh local; npm ci; cd ..;

      - name: Run tests
        run: BUILD_TYPE=${{ inputs.libType }} make --debug=basic test-browser
